:root {
  --primary-font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --secondary-text-color-theme-dark: #fff;
  --primary-text-color-theme-light: #303030;
  --secondary-text-color-theme-light: #555;
  --overtitle-text-color: rgba(157, 164, 189, 0.6);
  --accent-color: #ff6c00;
}

body {
  font-family: var(--primary-font-family);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-theme-light);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* ======= START COMPONENTS =======*/

.modal-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.btn--theme-light {
  color: var(--primary-text-color-theme-light);

  &:hover,
  &:focus {
    color: var(--secondary-text-color-theme-dark);
  }
}

.btn--theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.social-links-list-link {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: #303030;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.overtitle {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.overtitle--theme-dark {
  color: var(--overtitle-text-color);
}

.overtitle--theme-light {
  color: var(--primary-text-color-theme-light);
}

.overtitle--contacts {
  color: var(--secondary-text-color-theme-dark);
}

.title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  letter-spacing: 0.05em;
}

.section-title {
  font-size: 42px;
}

.main-title {
  font-size: 72px;
}

.title--theme-light {
  color: var(--primary-text-color-theme-light);
}
.title--theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.text {
  font-size: 14px;
  line-height: 1.86;
  color: var(--secondary-text-color-theme-light);
}

/* ======= END COMPONENTS =======*/

/* ======= START HEADER =======*/

.contact-number,
.nav-list-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  /* color: #fff; */

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.prices-list {
  color: var(--primary-text-color-theme-dark);
}

.choose-list {
  color: var(--primary-text-color-theme-light);
}

.choose-accent {
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
}

.choose-text {
  font-weight: 600;
  font-size: 11px;
}

.masters-name {
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-text-color-theme-light);
}

.masters-text {
  color: var(--accent-color);
  font-size: 14px;
}

.contacts-address {
  font-style: normal;
}

.contacts-link,
.contacts-text {
  color: var(--primary-text-color-theme-dark);
}

.contacts-link[href="mailto:barbershop@email.com"] {
  text-decoration-skip-ink: none;
}

.copyright {
  font-size: 11px;
  font-weight: 600;
  color: var(--primary-text-color-theme-dark);
}

/* ======= END HEADER =======*/

/* ======= START HERO =======*/

/* ======= END HERO =======*/
